
.container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #222;
    color: #eef;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.logo {
    width: 512px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.grid {
    background-color: #151515;
    width: 80%;
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    gap: .75rem;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    text-align: center;
}

.description {
    color: #ccd;
}

.grid1x3 {
    grid-column: span 3;
}

.output {
    background-color: #333;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid #555;
    margin-top: 1rem;
}