body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'MinecraftRegular';
      src: url('/minecraft/regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftBold';
      src: url('/minecraft/bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftItalic';
      src: url('/minecraft/italic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinecraftBoldItalic';
      src: url('/minecraft/bolditalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Station';
  src: url(/space-station.ttf) format('truetype');
  -webkit-font-smoothing: none;
  font-smooth: never;
}

body {
  /* make room for taskbar! there's two children, page content and taskbar */

  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}