.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: url('/desktop/overlay.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.shutdown_anim {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    animation: shutdown_anim 5s steps(1, end) forwards;
}

@keyframes shutdown_anim {
    0% {
        background-image: none;
        background-color: rgb(0, 128, 128);
    }
    5% {
        background-image: url('/desktop/windows98.png');
        background-size: 100% 100%;
    }
    33% {
        background-color: black;
        background-image: url('/desktop/cursor.gif');
        background-size: 32px 32px;
        background-position: 0 0;
    }
    98% {
        background-color: black;
        background-image: none;
    }
    100% {
        background-size: cover;
        background-image: url('/desktop/off.png');
    }
}

.shutdown {
    width: 646px;
    height: 308px;
    background-image: url('/desktop/shutdown.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.shutdown_ok {
    width: 156px;
    height: 46px;
    margin-bottom: -46px;
    position: relative;
    left: 124px;
    top: 240px;

    background-image: url('/desktop/shutdown_ok.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.shutdown_ok:active {
    background-image: url('/desktop/shutdown_ok_active.png');
}

.shutdown_cancel {
    width: 156px;
    height: 46px;
    margin-bottom: -46px;
    position: relative;
    left: 292px;
    top: 240px;
}

.shutdown_help {
    width: 156px;
    height: 46px;
    margin-bottom: -46px;
    position: relative;
    left: 460px;
    top: 240px;
}

.shutdown_close {
    width: 32px;
    height: 28px;
    margin-bottom: -28px;
    position: relative;
    left: 604px;
    top: 10px;
}

.taskbar {
    display: flex;
    width: 100%;
    height: 56px;
    padding-top: 8px;
    padding-bottom: 4px;
    justify-content: center;
    align-items: left;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-image: url('/desktop/taskbar.png');
    background-size: contain;
    background-color: #C0C0C0;
    background-repeat: repeat-x;
    color: #eef;
    /* microsoft sans serif */
    font-family: 'MS Sans-serif', sans-serif;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    user-select: none;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 108px;
    height: 44px;
    background-image: url('/desktop/start.png');
    background-size: contain;
    background-color: #C0C0C0;
    background-repeat: no-repeat;
}

@keyframes start_menu_slide {
    from {
        max-height: 0;
    }
    to {
        max-height: 100vh;
    }
}

.start:active,
.start_clicked {
    background-image: url('/desktop/start_clicked.png');
}

.windows {
    width: auto;
}

.start_menu {
    position: absolute;
    bottom: 48px;
    left: 4px;
    width: 336px;
    background-color: #C0C0C0;
    border-image-source: url('/desktop/skin.png');
    border-image-width: 6px;
    box-sizing: border-box;
    border-width: 6px;
    border-style: solid;
    border-image-slice: 3;
    z-index: 1;
    animation: start_menu_slide 0.25s linear;

    overflow: hidden;
}

.start_menu_content
{
    width: 324px;

    display: grid;
    grid-template-columns: 42px auto;
    color: black;
}

.start_banner {
    width: 42px;
    height: 100%;
    background-image: url('/desktop/start_banner.png');
    background-size: contain;
    background-position: bottom;
    background-color: rgb(0, 0, 128);
    background-repeat: no-repeat;
}

.start_menu_button {
    width: 100%;
    height: 72px;
    background-color: #C0C0C0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: contain;
    background-repeat: no-repeat;
}

.start_menu_button:hover {
    background-color: rgb(0,0,128);
    color: white;
}

.start_menu_button_shutdown {
    background-image: url('/desktop/menu_buttons/shutdown.png');
}

.start_menu_button_shutdown:hover {
    background-image: url('/desktop/menu_buttons/shutdown_hover.png');
}

.start_menu_button_log_off {
    background-image: url('/desktop/menu_buttons/log_off.png');
}

.start_menu_button_log_off:hover {
    background-image: url('/desktop/menu_buttons/log_off_hover.png');
}
