.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #eef;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.container canvas {
    image-rendering: pixelated;
    filter: drop-shadow(4px 4px .5rem #000);
    /* white border */
    border: 1px solid #fff;
    /* 2x size */
    width: 640px;
    max-width: 100%;
    -webkit-font-smoothing: none;
    font-smooth: never;
}

.container input {
    -webkit-font-smoothing: none;
    font-smooth: never;

    font-family: 'Space Station', sans-serif;
    font-size: 1rem;
    /* render pixelated */
    image-rendering: pixelated;
    /* white text */
    color: #fff;
    text-align: center;
    background-color: #000;
    border: 1px solid #fff;
    padding: .5rem;
    margin: .5rem;
    width: 100%;
    box-sizing: border-box;
}